/* =================== Google Fonts ====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* ==================== Títulos ==================== */
.swiperTitle {
   color: var(--TitleColor);
   margin: 0.67em 5vw;
}

/* ==================== Swiper ==================== */
.prodSwiper {
   width: 100%;
}

.productCard {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: var(--cardBg);
   width: calc(18vw - 24px);
   height: auto;
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
}

/* ==================== Imagem ==================== */
.productImg {
   width: 90%;
   height: 180px;
   margin-top: 10px;
   display: flex;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   background: #0000001a;
   object-fit: cover;
}
.productCard:hover .productImg {
   transform: scale(1.03);
}

/* ==================== Informações ==================== */
.productInfo {
   position: relative;
   width: 85%;
   padding: 10px 0;
}
.productInfo h4 {
   color: var(--TitleColor);
   margin: 3px 0;
   font-size: 1.07rem;
   font-weight: 500;
}
.productInfo i {
   position: absolute;
   right: 0;
   bottom: 0;
   font-size: 1.3rem;
   color: #77a3f7;
   margin: 10px 0;
   transform: scale(0);
   transition: 0.3s;
}
.productCard:hover i {
   transform: scale(1);
}

/* ==================== RESPONSIVIDADE ==================== */

@media (orientation: portrait) {
   .swiperTitle {
      margin: 5vw;
   }
   
   .productCard {
      justify-content: normal;
      min-width: calc(18vw - 24px);
      max-width: calc(18vw - 24px);
      height: auto;
   }
   
   .productImg {
      width: 90%;
      height: calc(25vw - 10px);
      margin-top: 10px;
   }
   .productCard:hover .productImg {
      transform: scale(1);
   }
   
   .productInfo {
      padding: 5px 0;
   }
   .productInfo h4 {
      font-size: 0.9rem;
      font-weight: 400;
   }
   .productCard:hover i {
      transform: scale(0);
   }
}
