.titleCateg{
   font-size: 2.75rem;
   font-weight: 700;
   color: var(--TitleColor);
   text-align: center;
   margin-top: 160px;
   margin-bottom: 40px;
   user-select: none;        
   -webkit-user-select: none; 
   -moz-user-select: none;    
   -ms-user-select: none;     
}

.swiperSlide{
   display: flex;
   flex-direction: column;
}
.swiperSlide h2{
   color: var(--categTextColor)
}

.brandsSwiper{
   position: relative;
   width: 100%;
   height: 200px;
   padding: 20px 0px;
}
.brandsSwiper .swiperSlide{
   width: 200px;
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 0 20px;
   background: var(--cardBg);
}
.brandsSwiper .swiperSlide.avaliable{
   margin: 0 14px;
 
}
.brandsSwiper .swiperSlide.avaliable.start{
   margin: 0;
   margin-right: 15px;
}
.brandsSwiper .swiperSlide.avaliable.end{
   margin: 0;
   margin-left: 15px;
}
.brandsSwiper .swiperSlide img{
   width: 100px;
   height: 100%;
   max-height: 100%;
   object-fit: contain;
   filter: invert(var(--categFilterI));
   transition: all 0.3s ease;
   margin-bottom: -10px;
}
.brandsSwiper .swiperSlide h2{
    transition: all 0.3s ease; } 
.brandsSwiper .swiperSlide.avaliable:hover h2{
   filter: var(--categFilter); 
   cursor: pointer; 
} 
.brandsSwiper .swiperSlide.avaliable:hover img{
   filter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(103%) contrast(92%);
   cursor: pointer; 
} 
:global(.brandsSwiper .swiper-button-next:after, .brandsSwiper .swiper-button-prev:after, .inspirationsSwiper .swiper-button-next:after, .inspirationsSwiper .swiper-button-prev:after){
   display: none; 
} 
:global(.brandsSwiper .swiper-button-next i, .brandsSwiper .swiper-button-prev i, .inspirationsSwiper .swiper-button-next i, .inspirationsSwiper .swiper-button-prev i){ 
   color: hsl(217 85% 74%); 
   font-size: 4.5rem; 
   transition: .3s ease; 
} 
:global(.brandsSwiper .swiper-button-next i:hover, .brandsSwiper .swiper-button-prev i:hover, .inspirationsSwiper .swiper-button-next i:hover, .inspirationsSwiper .swiper-button-prev i:hover){
   color: hsl(217 85% 67%);
}

@media(orientation: portrait) {
   .titleCateg{
      font-size: 2.75rem;
      font-weight: 700;
      margin-top: calc(25vw + 10px + 1vh);
      margin-bottom: 2vh; 
   }

   .brandsSwiper{
      position: relative;
      width: 100vw;
      height: 18vh;
      padding: 1vh 0px;
   }
   .brandsSwiper .swiperSlide{
      width: 30vw !important;
      height: 100%;
      border-radius: 10px;
      padding: 0 20px;
   }
   .brandsSwiper .swiperSlide.avaliable{
      margin: 0 14px;
   }
   .brandsSwiper .swiperSlide.avaliable.start{
      margin: 0;
      margin-right: 15px;
   }
   .brandsSwiper .swiperSlide.avaliable.end{
      margin: 0;
      margin-left: 15px;
   }
   .brandsSwiper .swiperSlide img{
      width: 8vh;
      height: 100%;
      max-height: 100%;
      object-fit: contain;
      margin-bottom: -10px;
   }
}