.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: #020623;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-family: 4.5rem;
    position: absolute;
    top: 0;
    left: 0;
}

.img {
    width: 35%;
}