.titleCateg{
   width: 100vw;
   font-size: 2.75rem;
   font-weight: 700;
   color: var(--TitleColor);
   text-align: center;
   margin-top: calc(17vh + 40px);
   margin-bottom: 40px;
   user-select: none;        
   -webkit-user-select: none; 
   -moz-user-select: none;    
   -ms-user-select: none;     
}

/* .swiperSlide{
   display: flex;
   flex-direction: column;
}
.swiperSlide h2{
   color: var(--categTextColor)
}

.brandsSwiper{
   position: relative;
   width: 100%;
   height: 200px;
   padding: 20px 0px;
}
.brandsSwiper .swiperSlide{
   width: 200px;
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 0 20px;
   background: var(--cardBg);
}
.brandsSwiper .swiperSlide.avaliable{
   margin: 0 14px;
 
}
.brandsSwiper .swiperSlide.avaliable.start{
   margin: 0;
   margin-right: 15px;
}
.brandsSwiper .swiperSlide.avaliable.end{
   margin: 0;
   margin-left: 15px;
}
.brandsSwiper .swiperSlide img{
   width: 100px;
   height: 100%;
   max-height: 100%;
   object-fit: contain;
   filter: invert(var(--categFilterI));
   transition: all 0.3s ease;
   margin-bottom: -10px;
}
.brandsSwiper .swiperSlide h2{
    transition: all 0.3s ease; } 
.brandsSwiper .swiperSlide.avaliable:hover h2{
   filter: var(--categFilter); 
   cursor: pointer; 
} 
.brandsSwiper .swiperSlide.avaliable:hover img{
   filter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(103%) contrast(92%);
   cursor: pointer; 
} 
:global(.brandsSwiper .swiper-button-next:after, .brandsSwiper .swiper-button-prev:after, .inspirationsSwiper .swiper-button-next:after, .inspirationsSwiper .swiper-button-prev:after){
   display: none; 
} 
:global(.brandsSwiper .swiper-button-next i, .brandsSwiper .swiper-button-prev i, .inspirationsSwiper .swiper-button-next i, .inspirationsSwiper .swiper-button-prev i){ 
   color: hsl(217 85% 74%); 
   font-size: 4.5rem; 
   transition: .3s ease; 
} 
:global(.brandsSwiper .swiper-button-next i:hover, .brandsSwiper .swiper-button-prev i:hover, .inspirationsSwiper .swiper-button-next i:hover, .inspirationsSwiper .swiper-button-prev i:hover){
   color: hsl(217 85% 67%);
} */

.swiperSlide{
   display: flex;
   flex-direction: column;
}
.swiperSlide h2{
   color: var(--categTextColor)
}

.categSwiper{
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 90vw;
   height: 200px;
   padding: 20px 5vw;
}
.categSwiper .swiperSlide{
   width: 200px;
   height: 100%;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   padding: 0 20px;
   background: var(--cardBg);
}
.categSwiper .swiperSlide.avaliable{
   margin: 0 14px;
 
}
.categSwiper .swiperSlide.avaliable.start{
   margin: 0;
   margin-right: 15px;
}
.categSwiper .swiperSlide.avaliable.end{
   margin: 0;
   margin-left: 15px;
}
.categSwiper .swiperSlide img{
   width: 100px;
   height: 100%;
   max-height: 100%;
   object-fit: contain;
   filter: invert(var(--categFilterI));
   transition: all 0.3s ease;
   margin-bottom: -10px;
}
.categSwiper .swiperSlide h2{
    transition: all 0.3s ease; } 
.categSwiper .swiperSlide.avaliable:hover h2{
   filter: var(--categFilter); 
   cursor: pointer; 
} 
.categSwiper .swiperSlide.avaliable:hover img{
   filter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(103%) contrast(92%);
   cursor: pointer; 
}