.bannerText {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customTitle {
  position: relative !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 4.5rem !important;
  padding: 10px !important;
  border-radius: 0!important;
  opacity: 1 !important;
  bottom: 40% !important;
  text-shadow: #0000007a 0 0 6px !important;   
}
.customLegend {
  position: relative !important;
  margin: 0 !important;
  top: 0 !important;
  left: 0 !important;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 2.30rem !important;
  padding: 10px !important;
  border-radius: 0!important;
  opacity: 1 !important;
  text-shadow: #000000a1 0 0 6px !important; 
}
:global(.carousel .slide img) {
  height: 70vh;   /* 60% da altura da tela */
  object-fit: cover;
  width: 100%;
}
:global(.carousel) {
  border-radius: 15px;
  margin-top: 80px !important;
}
:global(.carousel .control-arrow) {
  width: 40px;
  justify-content: center;
}
:global(.carousel .control-next) {
  border-radius: 0 15px 15px 0;
}
:global(.carousel .control-prev) {
  border-radius: 15px 0 0 15px;

}
@media (orientation: portrait) {
  :global(.carousel .slide img) {
    height: 50vh;
  }
  .customTitle {
    font-size: 2.5rem !important;
  }
  .customLegend {
    font-size: 1.2rem !important;
  }
  :global(.carousel .control-arrow) {
    width: 20px;
    font-size: 20px;
    justify-content: center;
    padding: 0;
  }
}






