/* =================== Google Fonts ====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.swiperTitle{
   color: var(--TitleColor);
}


.productCard {
   position: relative;
   background: var(--cardBg);
   width: 230px;
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
}

.productCard .productBrand {
   position: absolute;
   width: 50px;
   height: 50px;
   margin: 32px 24px;
}
.productCard .productBrand img {
   width: 70% !important;
   height: 70% !important;
   object-fit: contain;
   filter: invert(100%);
   transition: all 0.3s ease;
}
.productCard:hover .productBrand img {
   transform: scale(1.1);
   filter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(103%) contrast(92%);
}

.productCard .productImg {
   width: 100%;
   height: 200px;
   justify-content: center;
   align-items: center;
   background: rgba(0,0,0,0.1);
}
.productCard .productImg img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   transition: .3s;
}

.productCard .productInfo {
   position: relative;
   padding: 10px 15px 15px 20px;
}
.productCard .productInfo .info {
   margin-top: 3px;
   margin-bottom: 5px;   
}
.productCard .productInfo span {
   color: rgba(158, 158, 158, 1);
   font-size: .98rem;
   font-weight: 400;
   text-transform: uppercase;
}
.productCard .productInfo h4 {
   color: var(--TitleColor);
   font-size: 1.07rem;
   font-weight: 500;
}
.productCard .productInfo .productStars {
   color: rgba(119, 163, 247, 1);
   font-size: 1.1rem;
}
.productCard .productInfo .productOptionsD {
   max-width: 100%;
   display: flex;
   gap: 10px;
   justify-content: left;
   align-items: center;
}

.productCard .productInfo .productOptions {
   max-width: 100%;
   display: flex;
   gap: 10px;
   justify-content: left;
   align-items: center;
   margin-bottom: 30px;
}

.productCard .productInfo .productOptions {
   max-width: 100%;
   display: flex;
   gap: 10px;
   justify-content: left;
   align-items: center;
   margin-bottom: 30px;
}

.productInfo .productOptions .picante {
   background: linear-gradient(360deg,rgba(207, 163, 163, 0.15),rgba(207, 163, 163, 0.1));
   text-align: left;
   border-radius: 3px;
}
.productOptions .picante p,
.productOptions .picante span {
   color: rgb(247, 119, 119);
   font-size: .98rem;
   font-weight: 500;
   margin: 2px 4px;
}

.productInfo .productOptionsD .vegetariano {
   background: linear-gradient(360deg,rgba(207, 247, 119, 0.15),rgba(207, 247, 119, 0.1));
   text-align: left;
   border-radius: 3px;
}
.productOptionsD .vegetariano p,
.productOptionsD .vegetariano span {
   color: rgb(202, 247, 119);
   font-size: .98rem;
   font-weight: 500;
   margin: 2px 4px;
}
.productInfo .productOptionsD .picante {
   background: linear-gradient(360deg,rgba(207, 163, 163, 0.15),rgba(207, 163, 163, 0.1));
   text-align: left;
   border-radius: 3px;
}
.productOptionsD .picante p,
.productOptionsD .picante span {
   color: rgb(247, 119, 119);
   font-size: .98rem;
   font-weight: 500;
   margin: 2px 4px;
}
.productInfo .productOptionsD .vegetariano {
   background: linear-gradient(360deg,rgba(207, 247, 119, 0.15),rgba(207, 247, 119, 0.1));
   text-align: left;
   border-radius: 3px;
}
.productOptionsD .vegetariano p,
.productOptionsD .vegetariano span {
   color: rgb(202, 247, 119);
   font-size: .98rem;
   font-weight: 500;
   margin: 2px 4px;
}
.productCard .productInfo .priceWithDescount {
   color: rgba(119, 163, 247, 1);
   font-weight: 500;
}
.productCard .productInfo .normalPrice {
   color: rgba(158, 158, 158, 1);
   font-weight: 400;
   font-size: .9rem;
}
.productCard .productInfo .shopIcon {
   position: absolute;
   right: 0;
   bottom: 0;
   color: rgba(119, 163, 247, 1);
   font-size: 1.3rem;
   margin: 17px;
   transform: scale(0);
   transition: .3s;
}
.productCard:hover .productInfo .shopIcon {
   transform: scale(1);
}
.productCard:hover .productImg img {
   transform: scale(1.03);
}