.cont {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #020623;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.img {
    width: 12rem;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 3.2rem;
}

