.formNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    gap: 15px;
    z-index: 1;
    box-shadow: 0 -10px 50px black;
    border-bottom: .5px solid rgb(255, 255, 255, .1);
}

.formLink {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    list-style: none;
    text-decoration: none;
    margin-right: 5vw;
    transition: .2s;
}

.formLink:hover {
    color: rgb(255, 255, 255, .7);
}


.img {
    margin-left: 80px;
    width: 90px;
    cursor: pointer;
}