@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --navBgColor, --navColor, --navHoverColor */

@keyframes cartOpening {
  from {width: 0;}
  to {width: 40vw;}
}
@keyframes cartClosing {
  from {width: 40vw;}
  to {width: 0;}
}

.cart {
  padding: 2vh 0;
  margin: -20px -20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-self: end;
  background-color: var(--navBgColor);
  height: 100vh;
  width: 40vw;
  animation-name: cartOpening;
  animation-duration: .5s;
  z-index: 1500;
  --scrollbarTrack: #125492;
}
.closingCart{
  padding: 2vh 0;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-self: end;
  background-color: var(--navBgColor);
  height: 100vh;
  width: 0;
  animation-name: cartClosing;
  animation-duration: .5s;
  z-index: 1500;
}

@keyframes cartTitleClosing {
  from {margin-left: -1vw;}
  to {margin-left: 20vw;}
}
.closingCart li {
  animation-name: cartTitleClosing;
  animation-duration: .5s;
}
.cart li, .closingCart li {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0 0 15px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  list-style: none;
  text-decoration: none;
  color: var(--navColor);
}

.cart .cartTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 36vw;
  color: var(--navColor);
}
.cartTabs .activeTab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  margin: 0;
  padding: 1em;
  border-bottom: 5px solid var(--navColor);
  border-radius: 15px 15px 0 0;
  background: #1a5898;
}
.cartTabs .inactiveTab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  margin: 0;
  padding: 1em;
  border-bottom: 5px solid #1a5898;
}

@keyframes cartListOpening {
  from {margin-left: 39vw;}
  to {margin-left: -1vw;}
}
@keyframes cartListClosing {
  from {margin-left: -1vw;}
  to {margin-left: 39vw;}
}
.cart .cartList {
  margin-left: -1vw;
  height: 69vh;
  animation-name: cartListOpening;
  animation-duration: .5s;
  overflow-y: auto;
}
.closingCart .cartList {
  margin-left: -1vw;
  height: 69vh;
  animation-name: cartListClosing;
  animation-duration: .5s;
  overflow-y: auto;
}

@keyframes cartTotalOpening {
  from {margin: 0 -20vw 0 20vw;}
  to {margin-left: 0vw;}
}
@keyframes cartTotalClosing {
  from {margin-left: 0vw;}
  to {margin: 0 -20vw 0 20vw;}
}
.cart .totalValue {
  margin: 0;
  width: auto;
  font-size: 2rem;
  animation-name: cartTotalOpening;
  animation-duration: .5s;
  word-break: keep-all;
}
.closingCart .totalValue {
  margin: 0;
  width: auto;
  font-size: 2rem;
  animation-name: cartTotalClosing;
  animation-duration: .5s;
  word-break: keep-all;
}

@keyframes cartButtonOpening {
  from {margin: 0 -20vw 0 20vw;}
  to {margin-left: -1vw;}
}
@keyframes cartButtonClosing {
  from {margin-left: -1vw;}
  to {margin: 0 -20vw 0 20vw;}
}
.cart .whatsappBtn {
  width: 20vw;
  color: white;
  background-color: green;
  animation-name: cartButtonOpening;
  animation-duration: .5s;
  margin: 1vh 0 0 -1vw;
}
.whatsappBtn:disabled {
  cursor: not-allowed;
}
.closingCart .whatsappBtn {
  width: 20vw;
  background-color: green;
  animation-name: cartButtonClosing;
  animation-duration: .5s;
  margin-top: 1vh;
}

@keyframes outsideCartOpening {
  from {background-color: #00000000}
  to {background-color: #00000090}
}
@keyframes outsideCartClosing {
  from {background-color: #00000090}
  to {background-color: #00000000}
}
.outsideCart {
  margin-top: -20px;
  margin-left: -20px;
  width: 100vw;
  height: 105vh;
  background-color: #00000090;
  position: absolute;
  animation-name: outsideCartOpening;
  animation-duration: .5s;
  z-index: 1500;
}
.outsideClosingCart {
  margin-top: -20px;
  margin-left: -20px;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  position: absolute;
  animation-name: outsideCartClosing;
  animation-duration: .5s;
  z-index: 1500;
}
