.productCard {
    background: linear-gradient(120deg,hsla(189, 55%, 74%, 0.15), hsla(78, 55%, 74%, 0.05));
    flex: 1;
    display: flex;
    width: 100%;
    border-radius: 20px;
    color: var(--TitleColor);
    padding: 1rem 1rem;
}

.productCard img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-right: 20px;
}

.productButtons {
    display: flex;
    gap: 1rem;
}

.productButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 10px;
    font-size: 16px;
	color: var(--TitleColor);
	background: linear-gradient(120deg,hsla(189, 55%, 74%, 0.15), hsla(78, 55%, 74%, 0.05));
	border: 2px solid var(--TitleColor);
    transition: all 0.25s;
}

.productCard button i {
    font-size: 24px;
}

.productCard button:hover {
    background: var(--bodyBgColor);
}
@media(orientation: portrait) {
	.productCard {
	    width: 100%;
	    border-radius: 15px;
	    padding: 0.5rem;
	}
	
	.productCard img {
	    width: 30vw;
	    height: 15vh;
	    border-radius: 15px 0 0 15px;
	    margin-right: 10px;
	}
	
	.productInfo {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-evenly;
	}
	.productInfo h2 {
	    margin: 0;
	    font-size: 1.2rem;
	    font-weight: 500;
	}
	.productInfo h3 {
	    margin: 0;
	    font-size: 1rem;
	    font-weight: 400;
	}
	
	.productButtons {
	    gap: 0.3rem;
	}
	
	.productButtons button {
	    gap: 0.2rem;
	    padding: 5px;
	    font-size: 0.5rem;
		border: 1px solid var(--TitleColor);
	}
	
	.productCard button i {
	    font-size: 20px;
	}
	
	.productCard button:hover {
	    background: linear-gradient(120deg, #98d6e126, #cbe1980d);
	}
}
