@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --navBgColor, --navColor, --navHoverColor */

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(36vw - 4vh);
  height: 12vh;
  background: linear-gradient(120deg, #98d6e126, #cbe1980d);
  border-radius: 1vh;
  margin: 1vh 0vw;
  padding: 1vh;
}

.cartItem img {
  width: 11vh;
  height: 9vh;
  object-fit: cover;
  border-radius: 1vh;
}

.cartItem .itemText {
  width: 24vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cartItem .itemAmount {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  width: 10vw;
}
.cartItem h3 {
  display: flex;
  align-items: center;
  height: 4vh;
  margin: 0 .2vw 0 .2vw;
  font-size: 3.5vh;
}
.cartItem p {
  height: 2.5vh;
  margin: 0 .2vw 0 .2vw;
  font-size: .8rem;
  justify-content: start;
}
.cartItem button {
  color: white;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  border-radius: 2vh;
}
.cartItem button:hover {
  color: gainsboro;
}

@media (orientation: portrait) {
  .cartItem {
    width: calc(90vw - 4vh);
  }
  
  .cartItem img {
    width: 20vw;
    height: 9vh;
    object-fit: cover;
    border-radius: 1vh;
  }
  
  .cartItem .itemText {
    width: calc(48vw - 4vh);
    height: auto;
    margin: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .cartItem .itemAmount {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
    width: 30vw;
  }
  .cartItem h3 {
    display: flex;
    align-items: center;
    margin: 0;
    height: auto;
    font-size: 3vh;
  }
  .cartItem p {
    height: auto;
    margin: 0;
    font-size: .8rem;
    justify-content: start;
  }
  .cartItem button {
    color: #fff;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    border-radius: 2vh;
  }
  .cartItem button:hover {
    color: gainsboro;
  }
}
