.formCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    min-height: 50vh;
    text-align: center;
    gap: 5px;
    margin: 0 auto;
    transform: translate(-50% -50%);
    transition: .5s;

}

.formTitle {
    font-size: 3.5rem;
    font-family: 'Poppins', serif;
    color: white;
}

.inputs {
    width: 35%;
    height: 28px;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgb(243, 208, 163);
    color: black;
    transition: .8s;
}

.inputs:focus{
    background-color: white;
}

.inputs::placeholder{
    color: black;
}

.formBtn {
    width: 30%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 8px;
    transition: ease-in-out .3s;
}

.formBtn:hover {
    border: 0.01px solid #00f7ff;
}

.error {
    font-size: 22px;
    font-weight: 700;
    color: red;
    font-family: 'Poppins', sans-serif;
}