.titleCateg{
   width: 100vw;
   font-size: 2.75rem;
   font-weight: 700;
   color: var(--TitleColor);
   text-align: center;
   margin-top: calc(17vw - 40px);
   margin-bottom: 40px;
   user-select: none;        
   -webkit-user-select: none; 
   -moz-user-select: none;    
   -ms-user-select: none;     
}

.swiperCateg{
   min-width: calc(30vw - 20px);
   height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 10px;
   background: var(--categBgColor);
   cursor: pointer;
}
.swiperCateg img{
   width: 100px;
   height: 100px;
   max-height: 100%;
   object-fit: contain;
   filter: invert(var(--categFilterI));
   transition: all 0.3s ease;
   margin-bottom: -10px;
}
.swiperCateg:hover img{
   filter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(103%) contrast(92%);
}
.swiperCateg h2{
   color: var(--categTextColor);
   transition: all 0.3s ease;
   margin: 0;
}
.swiperCateg:hover h2{
   filter: var(--categFilter); 
}

@media (orientation: portrait) {
   .titleCateg{
      width: 100vw;
      font-size: 2.5rem;
      margin-top: 35vw;
      margin-bottom: 20px;   
   }

   .swiperCateg{
      min-width: calc(30vw - 10px);
      border-radius: 10px;
   }
   .swiperCateg img{
      width: 50px;
      height: 50px
   }
   .swiperCateg h2{
      font-size: 1.2rem;
   }

}



