.screenBlur{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      z-index: 1110;
      justify-items: center;
      align-content: center;
}
.productCard{
   display: flex;
   position: relative;
   gap: 20px;
   background-color: rgb(50, 52, 56);
   padding: 20px;
   border-radius: 15px;

}
.carousel .imagemC img {
   width: 300px ;
   height: 300px ;
}
.closeBtn{
   position: absolute;
   top: 5px;
   right: 10px;
   font-size: 24px;
   max-height: 24px;
   color: white;
   cursor: pointer;
}
