.formContainer {
  max-width: 500px;
  margin: 7rem auto auto;
  padding: 2rem;
  background-color: #1c1c1c;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  font-family: 'Arial', sans-serif;
  color: #f5f5f5;
}

.formContainer h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffcc00; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-weight: 600;
  color: #e0e0e0;
}

.input {
  padding: 0.6rem;
  border: 1px solid #444;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #fff;
}

.input:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 4px #ffcc00;
}

.inputFile {
  padding: 0.4rem;
  border: 1px solid #444;
  border-radius: 6px;
  background-color: #2a2a2a;
  color: #ddd;
  font-size: 0.95rem;
}

.submitButton {
  padding: 0.8rem;
  background-color: #ffcc00;
  color: #1c1c1c;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #e6b800;
}

.backButton {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: transparent;
  color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton:hover {
  background-color: #ffcc00;
  color: #1c1c1c;
}


.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

