.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.15s ease;
}

.editButton {
  border: 2px solid var(--TitleColor);
  background: var(--cardBg);
  color: var(--TitleColor);
}

.editButton:hover {
  background: var(--bodyBgColor);
}

.deleteButton {
  border: 2px solid red;
  background: var(--cardBg);
  color: red;
}

.deleteButton:hover {
  background: var(--bodyBgColor);
}

.modalButtons {
  display: flex;
  margin-top: 4rem;
  gap: 1rem;
  justify-content: flex-end;
}

.modalButtons button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.modalButtons button i {
  font-size: 22px;
}

.modalCard {
  display: flex;
  gap: 2rem;
  background: var(--bodyBgColor);
  border: 2px solid var(--TitleColor);
  padding: 1.5rem 3rem;
  border-radius: 0.75rem;
  min-width: 50rem;
  max-width: 60rem;
  color: var(--TitleColor);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  position: relative;
  animation: openAnimation 0.15s ease;
}

.modalCard div {
  width: 100%;
}

.form div {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: 700;
  margin-bottom: 10px;
}

.form input {
  background-color: var(--bodyBgColor);
  color: var(--TitleColor);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: 2px solid var(--TitleColor);
  border-radius: 10px;
  padding: 10px 10px;
}

.modalClose {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  font-size: 1.5rem;
  background: none;
  display: flex;
  padding: 4px;
  border: 2px solid var(--TitleColor);
  font-size: 22px;
  cursor: pointer;
  color: var(--TitleColor);
  transition: all 0.25s;
}

.modalClose:hover {
  background-color: red;
  border: 2px solid red;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes openAnimation {
  from {
    scale: 1.18;
    opacity: 0.5;
  }

  to {
    scale: 1.00;
    opacity: 1;
  }
}