
.screenBlur{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
      z-index: 1110;
      justify-items: center;
      align-content: center;
      opacity: 1;
}
:global(body.lock-scroll) {
  position:fixed; 
  width: 100%;          
}

.productCard{
   display: flex;
   position: relative;
   gap: 20px;
   background-color: #044a8f;
   padding: 20px 20px 10px 20px;
   border-radius: 15px;

}
.carousel{
   max-width: 400px;
   max-height: 700px;
}
.carousel .imagemC img {
   max-width: 100%;
   max-height: 300px;
   object-fit: contain; 
}
:global(.carousel) {
  margin-top: 30px !important; 
}
:global(.carousel .thumbs-wrapper) {
  display: flex;
  justify-content: center;        
}
:global(.carousel .thumbs) {
  padding: 0 !important;   
  margin: 0 auto;          
  display: flex;           
  justify-content: center; 
}
:global(.carousel .thumb) {
  border-radius: 10px;
  border: 2px solid transparent; 
  transform: scale(1);           
  transition: all 0.2s ease;     
}

:global(.carousel .thumb.selected) {
  border: 2px solid #ffffff31;     
  transform: scale(0.93);         
}

:global(.carousel .thumb img) {
  border-radius: 10px;   
}
.closeBtn{
   position: absolute;
   top: 14px;
   right: 20px;
   font-size: 24px;
   max-height: 24px;
   color: white;
   cursor: pointer;
}
.closeBtn:hover {
  color: #cecece;
}
.productInfo{
   max-width: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 60px;
   margin-right: 40px;
}
.title {
  color: var()
}
.description{
   margin-top: 10px;
   color: rgba(200, 200, 200, 1);
   font-size: 1.05rem;
   line-height: 1.4rem;
   text-align: justify;
}
.price {
  font-size: 1.7rem;         
  font-weight: 600;          
  color: white;             
  margin-top: 20px;           
}

.productBuy{
   display: flex;
   gap: 30px;
   margin-top: 20px;
   align-items: center;
}
.productQuantity{
   display: flex;
   gap: 10px;
   align-items: center;
}
.productQuantity button {
  background-color: #707070;   
  color: #fff;                
  font-size: 1.2rem;
  font-weight: 700;
  width: 40px;                 
  height: 40px;                
  border: none;
  border-radius: 8px;          
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productQuantity button:hover {
  background-color: #666666;        
}
.productQuantity button:focus, .addCart button:focus {
   outline: none;
   box-shadow: none;
}
.productQuantity span{
   font-size: 1.2rem;
   color: white;
   font-weight: 400;
   min-width: 20px;
   text-align: center;

}
.addCart button {
  background-color: #727272;   
  color: #fff;
  font-size: 1.03rem;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;        
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;                  
}

.addCart button:hover {
  background-color: #6b6b6b;   
}

.addCart button i {
  font-size: 1.2rem;           
}