/* ==================== Swiper ==================== */

.productCard {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background: var(--cardBg);
   min-width: calc(18vw - 24px);
   height: auto;
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
}

/* ==================== Imagem ==================== */
.productImg {
   width: 90%;
   height: 180px;
   margin-top: 10px;
   display: flex;
   border-radius: 5px;
   justify-content: center;
   align-items: center;
   /* background: #0000001a; */
   object-fit: contain;
   transition: 0.3s;
}
.productCard:hover .productImg {
   transform: scale(1.03);
}

/* ==================== Informações ==================== */
.productInfo {
   position: relative;
   width: 85%;
   padding: 10px 0;
}
.productInfo h4 {
   color: var(--TitleColor);
   margin: /* 3px */ 0;
   font-size: 1.07rem;
   font-weight: 500;
   max-height: 52px;
   overflow: auto;
   &::-webkit-scrollbar {
      width: 3px;
   }
}
.productInfo .cartBtn {
   position: absolute;
   right: 0;
   bottom: 0;
   /* font-size: 1.3rem; */
   height: 23px;
   width: 23px;
   /* fill: var(--navBgColor); */
   margin: 11px 0;
   transform: scale(0);
   transition: 0.3s;
   display: flex;
   svg {
      height: 23px;
      width: 23px;
      fill: var(--navBgColor);
      transition: .5s;
   }
   &:hover svg {
      transform: scale(1.1);
   }
}
.productCard:hover .cartBtn {
   transform: scale(1);
}

/* ==================== RESPONSIVIDADE ==================== */

@media (orientation: portrait) {
   
   .productCard {
      justify-content: normal;
      min-width: calc(30vw - 10px);
      max-width: calc(30vw - 10px);
      height: auto;
   }
   
   .productImg {
      width: 90%;
      height: calc(25vw - 10px);
      margin-top: 10px;
   }
   .productCard:hover .productImg {
      transform: scale(1);
   }
   
   .productInfo {
      padding: 5px 0;
   }
   .productInfo h4 {
      font-size: 0.9rem;
      font-weight: 400;
   }
   .productCard:hover i {
      transform: scale(0);
   }
}
