@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --navBgColor, --navColor, --navHoverColor */

@keyframes cartOpening {
  from {margin-right: -41vw;}
  to {margin-right: 0px;}
}
.cart {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  justify-self: end;
  padding: 2vh 0;
  /* margin: -20px -20px 0 0; */
  background-color: var(--navBgColor);
  height: calc(96vh + 6px);
  z-index: 1500;
  transition: margin-right .5s;
  --scrollbarTrack: #125492;
  animation-duration: .5s;
  animation-name: cartOpening;
}
.closingCart{
  margin-right: -41vw;
}

.closeCartBtn {
  display: flex;
  justify-content: start;
  /* width: 36vw; */
  margin-left: calc(-36vw + 1rem);
  position: absolute;
  color: var(--navColor);
  transition: 0.5s;
}
.closeCartBtn:hover {
  transform: rotate(20deg);
  transition: 0.5s;
}

.cart li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 0 15px 0; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.4em;
  list-style: none;
  text-decoration: none;
  color: var(--navColor);
}


.cartTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 36vw;
  color: var(--navColor);
}
.cartTabs .activeTab, .cartTabs .inactiveTab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50%;
  margin: 0;
  padding: 0.5em;
  border-radius: 15px 15px 0 0;
}
.cartTabs .activeTab {
  border-bottom: 5px solid #1a5898;
  background: #1a5898;
  transition: 0.5s;
}
.cartTabs .inactiveTab {
  border-bottom: 5px solid var(--navColor);
  border-radius: 15px 15px 0 0;
  transition: 0.5s;
}
.cartTabs .inactiveTab:hover {
  background: #327bc5;
  transition: 0.5s;
}

.cartList {
  height: 65vh;
  width: 36vw;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1a5898;
  border-radius: 0 0 15px 15px;
}
.cartList p {
  display: flex;
  justify-content: center;
}

.cart .totalValue {
  margin: 0;
  width: auto;
  font-size: 1.8rem;
  word-break: keep-all;
}

.cart .delivery {
  font-size: 0.8rem;
  margin-top: -8px;
  cursor: pointer;
  color: var(--navColor);
}

.cart .whatsappBtn {
  width: 20vw;
  color: white;
  background-color: green;
  transition: 0.5s;
}
.whatsappBtn:disabled {
  cursor: not-allowed;
}
.whatsappBtn:hover {
  padding: 1vh;
  margin: -1vh;
  width: calc(20vw + 1vh);
  transition: 0.5s;
}

.deliveryWarning {
  position: absolute;
  top: 30vh;
  left: 30vw;
  background: #1a5898;
  width: 40vw;
  height: 40vh;
  z-index: 1600;
  border-radius: 20px;
  /* border: 2px solid var(--navColor); */
  box-shadow: 10px 10px 10px #0004;
  color: var(--navColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dwTitle, .dwInfo {
  margin: 0;
}
.dwBtns {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.dwConfirm, .dwCancel {
  border-radius: 5px;
  padding: 3px 5px 5px 5px;
  color: var(--navColor);
  width: 8rem;
}
.dwConfirm {
  background: #0f7f0f;
}
.dwCancel {
  background: #d12323;
}

@media (orientation: portrait) {
  @keyframes cartOpening {
    from {width: 0;}
    to {width: 100vw;}
  }
  @keyframes cartClosing {
    from {width: 100vw;}
    to {width: 0;}
  }

  .cart {
    padding: 3vh 0;
    /* margin: -20px -10px 0 0; */
    width: 100vw;
    height: 100vh;
    justify-content: start;
  }
  .closingCart{
    margin-right: -100vw;
  }

  .closeCartBtn {
    margin-left: calc(90vw - 1rem);
  }

  .cartTabs {
    width: 90vw;
  }
  .cartTabs .activeTab {
    padding: 0.5em;
    border-bottom: 5px solid #1a5898;
    border-radius: 15px 15px 0 0;
  }
  .cartTabs .inactiveTab {
    padding: 0.5em;
    border-bottom: 5px solid var(--navColor);
  }

  .cartList {
    /* height: 69vh; */
    width: 90vw;
  }

  .cart .whatsappBtn {
    width: auto;
    padding: 0 8px;
    margin: 1vh 0 0 -1vw;
  }

  .outsideCart .outsideClosingCart {
    visibility: hidden;
  }
}
