html, body, #root, .app {
  height: 100%;          /* ocupa toda a altura da viewport */
  margin: 0;
  display: flex;
  flex-direction: column;
}

main, .main {
  flex: 1;               /* ocupa o espaço disponível */
}

footer {
  margin-top: auto;      /* empurra o footer para o fim */
}
.main{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@media (orientation: portrait) {
  .main {
    overflow-x: hidden;
  }
}
