:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overscroll-behavior: none;
  /* color-scheme: light dark; */
  color: var(--bodyTextColor);
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: var(--bodyBgColor);
  /* background-color: #020623; */

  /* color: #213547; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  user-select: none;        
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none; 
}
*:focus-visible {
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bodyBgColor);
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--bodyButtonColor);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbarTrack);
}
::-webkit-scrollbar-thumb {
  background: #e7d000;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffe600;
}
@keyframes brighting {
  0%   { --bodyBgColor: #020623; }
  20%  { --bodyBgColor: #2a3147; }
  40%  { --bodyBgColor: #555d72; }
  60%  { --bodyBgColor: #8891a6; }
  80%  { --bodyBgColor: #bfc8d6; }
  100% { --bodyBgColor: #edf3f9; }
}
.light {
  animation-name: brighting;
  animation-duration: .4s; 
  animation-timing-function: ease-in-out;
  --navBgColor: #054a8f;
  --navColor: #ffe600;
  --TitleColor: #041627;
  --navHoverColor: #e6cf00;
  --bodyBgColor: #edf3f9;
  --bodyTextColor: #213547;
  --bodyH1Color: #ffff4b;
  --bodyButtonColor: #f9f9f9;
  --categTextColor: #000000;
  --categFilterI: 0%;
  --categFilter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(105%) contrast(94%);
  --cardBg: #ffffff;
  --scrollbarTrack: #e0e8ff;
  --footBgColor:#dae6ff;
  --footBgColor1:#00000008;
  --footBdColor: #78a8ff12;
  --footBdColor1:#0000001a;
  --footColor: #707888;
  --footHColor: #353535;
  overflow-x: hidden; 
}
@keyframes dimming {
  0%   { --bodyBgColor: #edf3f9; }
  20%  { --bodyBgColor: #bfc8d6; }
  40%  { --bodyBgColor: #8891a6; }
  60%  { --bodyBgColor: #555d72; }
  80%  { --bodyBgColor: #2a3147; }
  100% { --bodyBgColor: #020623; }
}
.dark {
  animation-name: dimming;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  --navBgColor:  #054a8f;
  --navColor: #ffe600;
  --navHoverColor: #e6cf00;
  --bodyBgColor: #020623;
  --bodyTextColor: #ffffff;
  --TitleColor: #ffff4b;
  --bodyH1Color: #ffff4b;
  --bodyButtonColor: #f9f9f9;
  --categBgColor: linear-gradient(120deg,#98d6e126, #cbe1980d);
  --categTextColor: #ffffff;
  --categHoverFilter: invert(64%) sepia(28%) saturate(1041%) hue-rotate(186deg) brightness(213%) contrast(90%);
  --categFilterI: 100%;
  --categFilter: invert(64%) sepia(28%) saturate(941%) hue-rotate(186deg) brightness(193%) contrast(100%);
  --cardBg: linear-gradient(120deg, rgba(163, 178, 207, 0.15), rgba(163, 178, 207, 0.05));
  --scrollbarTrack: #0f172e;
  --footBgColor:#101624;
  --footBgColor1:#ffffff0d;
  --footBdColor: #ffffff1a;
  --footBdColor1:#ffffff1a;
  --footColor: #6b7280;
  --footHColor: #ffffff;
  overflow-x: hidden;
}
.cartOpen {
  overflow: hidden !important;
}

@media (orientation: portrait) {
  #root {
    overflow: hidden;
  }
}