/* =================== Google Fonts ====================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.categ {
   scroll-margin-top: calc(15vh + 40px);
}

/* ==================== Títulos ==================== */
.categTitle, .subCategTitle {
   margin: 0.67em 5vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--TitleColor);
   font-weight: bold;
}
.categTitle .arrowIcon, .subCategTitle .arrowIcon {
   transform: rotate(0deg);
   transition: transform 0.2s ease;
   right: 5vw;
   width: 30px;
   height: 30px;
}
.categ:open > .categTitle .arrowIcon, .subCateg:open > .subCategTitle .arrowIcon {
   transform: rotate(90deg);
   transition: transform 0.2s ease;
}
.categTitle {
   font-size: 3.2em;
   line-height: 1.1;
}
.subCategTitle {
   font-size: 1.5em;
}

.prodSwiper {
   width: 100%;
}

@media (orientation: portrait) {
   .swiperTitle {
      margin: 5vw;
   }
}